<div>
  <h1 class="question-header">三項演算子学習用</h1>
  <div class="explanation-block">
    <h2>■三項演算子とは</h2>
    <p>条件によって格納する値を変更する記述式です。</p>
    <h3>概要</h3>
    <p>条件によって変数に代入する値を変動する場合に利用します。</p>
    <h3>参考URL</h3>
    <div>
      <a
        href="https://typescriptbook.jp/reference/statements/ternary-operator"
        target="_blank"
        >三項演算子 (ternary operator)</a
      >
    </div>
  </div>
  <h2>設問.</h2>
  <div class="question-grid">
    <div class="question-headline">
      <p>
        Q1.定義済み変数question1Valueを使用し、条件はtrue/falseかどうか、三項演算子を利用して
      </p>
      <p>任意の文字列を解答欄に表示してください。</p>
    </div>
    <div class="answer-block"></div>
    <div class="question-headline">
      <p>
        Q2.定義済み変数question1Valueを使用し、条件は値が50未満かどうか、三項演算子を利用して
      </p>
      <p>任意の文字列を解答欄に表示してください。</p>
    </div>
    <div class="answer-block"></div>
  </div>
</div>
