<div>
  <h1 class="question-header">@ViewChild学習用</h1>
  <div class="explanation-block">
    <h2>■@ViewChildとは</h2>
    <p>
      コンポーネントに記述されたテンプレート（html）をインスタンスとして扱えます。
    </p>
    <p>親コンポーネントから子コンポーネントを操作するために利用できます。</p>
    <h3>概要</h3>
    <p>親コンポーネントにて、子コンポーネントのメソッドを実行する。</p>
    <p>親コンポーネントにて、子コンポーネントの変数を参照する。</p>
    <p>※親子コンポーネントが密結合になります。</p>
    <h3>参考URL</h3>
    <div>
      <div>
        <a
          href="https://angular.keicode.com/basics/component-interaction-viewchild.php"
          target="_blank"
          >@ViewChild を用いたコンポーネント</a
        >
      </div>
      <div>
        <a
          href="https://tkzo.jp/blog/angular6-view-child-view-children/
"
          target="_blank"
          >【Angular】@ViewChild / @ViewChildren を理解する</a
        >
      </div>
    </div>
  </div>
  <h2>設問.</h2>
  <div>
    <ul>
      <li>子コンポーネントとしてvChildDecoratorChildを作成しています。</li>
    </ul>
  </div>
  <div class="question-grid">
    <div class="question-headline">
      Q1.@ViewChildを実装し、子コンポーネントの「alertChildメソッド」を実行してください。
    </div>
    <div class="answer-block">
      <button type="button">Q1確認用</button>
    </div>
    <div class="question-headline">
      Q2.@ViewChildを使用し、子コンポーネントの任意の変数を回答欄に表示してください。
    </div>
    <div class="answer-block"></div>
  </div>
  <vChildDecoratorChild></vChildDecoratorChild>
</div>
