<div>
  <h1 class="question-header">@Input, @Output学習用</h1>
  <div class="explanation-block">
    <h2>■@Input, @Outputとは</h2>
    <p>親子コンポーネント間でデータをやり取りします。</p>
    <h3>概要</h3>
    <ul>
      <li>親 → 子コンポーネントへデータ共有: @Inputを使用</li>
      <li>子 → 親コンポーネントへデータ共有：@Outputを使用</li>
    </ul>
    <h3>参考URL</h3>
    <div>
      <a href="https://angular.jp/guide/inputs-outputs" target="_blank"
        >公式ドキュメント</a
      >
    </div>
    <div>
      <a
        href="https://qiita.com/masaks/items/677195b78379e0877e24"
        target="_blank"
      >
        Angularの@Input(), @Output()を理解する。</a
      >
    </div>
    <div>
      <a href="https://mae.chab.in/archives/59992" target="_blank"
        >Angularの@Outputを理解する</a
      >
    </div>
  </div>
  <h2>設問.</h2>
  <div>
    <ul>
      <li>
        inOutDecoratorChildComponentを作成しているので、そちらに回答してください。
      </li>
    </ul>
  </div>
  <inOutDecoratorChild></inOutDecoratorChild>
</div>
