<p>Angular学習用のプロジェクトです。</p>
<p>
  各ページに参考URLを貼っていますが、やはり公式ドキュメントを読むのが最も良いです。
</p>
<div>
  <ul>
    <li>
      <a href="https://angular.jp/docs" target="_brank">Angular</a>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference"
        target="_brank"
        >JavaScript</a
      >
    </li>
    <li>
      <a href="https://www.typescriptlang.org/ja/docs/" target="_brank"
        >TypeScript</a
      >
    </li>
    <li>
      <a href="https://typescriptbook.jp/" target="_brank"
        >サバイバルTypeScript（公式ではないですが、おすすめです。）</a
      >
    </li>
  </ul>
</div>
